{:paths ["src" "resources"]
 :deps  {org.clojure/clojure                           {:mvn/version "1.11.3"}
         integrant/integrant                           {:mvn/version "0.10.0"}
         aero/aero                                     {:mvn/version "1.1.6"}
         software.amazon.awssdk/kinesis                {:mvn/version "2.26.20"}
         software.amazon.kinesis/amazon-kinesis-client {:mvn/version "2.6.0"}
         com.fluree/db                                 {:git/url "https://github.com/fluree/db.git"
                                                        :git/sha "6bc58c39686f2856be49780f56e3a5d19d4d7bf1"}}

 :aliases
 {:test
  {:extra-paths ["test"]
   :extra-deps  {org.clojure/test.check {:mvn/version "1.1.1"}
                 io.github.cognitect-labs/test-runner
                 {:git/tag "v0.5.1" :git/sha "dfb30dd"}}}
  :build {:deps       {io.github.clojure/tools.build
                       {:mvn/version "0.10.5"}
                       slipset/deps-deploy {:mvn/version "0.2.2"}}
          :ns-default build}}}
